.MyImage {
    --my-image-ratio: 1;
    --my-image-width: 100%;

    position: relative;
    width: var(--my-image-width);
    padding-top: calc(var(--my-image-width) / var(--my-image-ratio));
    background-color: var(--color-image-back);
    border-radius: inherit;
}

.MyImageElement {
    inset: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: inherit;
}