.AboutGrid {
    width: 100%;
    display: grid;
    margin-top: 10px;
    gap: 10px;
    grid-template-areas: 
        "text photo machine"
        "links links machine";
}

.AboutGridText {
    grid-area: text;
}

.AboutGridPhoto {
    grid-area: photo;
}

.AboutGridLinks {
    grid-area: links;
}

.AboutGridMachine {
    grid-area: machine;
}