.AboutLayoutBox {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--color-text);
}

.AboutLayoutLinks {
    display: flex;
    align-items: center;
    justify-content: center;
}

.AboutLayoutLinkList {
    display: flex;
    flex-flow: column nowrap;
    gap: 4px;
}

.AboutLayoutLinkListItem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.AboutLayoutDeviceList {
    gap: 20px;
    display: flex;
}
