.HeroNavItemLink {
    visibility: visible;
    -webkit-text-stroke: 1px #4d4d4d;
    font-size: 3rem;
    color: transparent;
}

.HeroNavItemLink:visited {
    color: transparent;
}

.HeroNavItemText {
    visibility: visible;
    -webkit-text-stroke: 1px #4d4d4d;
    font-size: 3rem;
    color: #4d4d4d;
}