.LinkList {
    display: flex;
    align-items: center;
    gap: 10px;
}

.LinkListHero {
    margin-top: 5px;
}

.LinkListAbout {
    display: inline-flex;
    background-color: var(--color-scnd);
    padding: 6px 8px;
    border-radius: 4px;
}