* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100vh;
  line-height: 1.5;
  height: 100%;
}

#__next {
  height: 100%;
}

.default-layout {
    display: flex;
    flex-direction: column;
    font-family: var(--sans-serif);
    color: var(--color-text);
    background-color: var(--color-main);  
    height: 100%;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

h1 {
    font-size: var(--text-xxl);
    font-weight: 900;
}
h2 {
    font-size: var(--text-xl);
    font-weight: 800;
}
h3 {
    font-size: var(--text-lg);
    font-weight: 800;
}
h4 {
    font-size: var(--text-base);
    font-weight: 800;
}
h5 {
    font-size: var(--text-sm);
    font-weight: 800;
}
h6 {
    font-size: var(--text-xs);
    font-weight: 800;
}

main {
    margin: 0 auto;
    max-width: var(--max-main-width);
    width: 100%;
    flex: 1;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

img {
  aspect-ratio: attr(width) / attr(height);
}

pre,
code {
  font-family: var(--monospace);
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}
code {
  word-break: break-all;
}

table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

time {
    font-family: var(--monospace);
}

.about-text p {
  margin-top: 5px;
}


.c-lang--php {
  background: #8892BF;
  color: white;
}
.c-lang--js {
  background: #f7df1e;
}
.c-lang--ts {
  background: #3178c6;
  color: white;
}
.c-lang--html {
  background: #dd4a24;
  color: white;
}
.c-lang--css {
  background: #196fb4;
  color: white;
}
.c-lang--vue {
  background: #41b883;
  color: white;
}
.c-lang--svelte {
  background: #f73c00;
  color: white;
}
.c-lang--react {
  background: #61dafb;
  color: black;
}

.c-job--vk {
  color: #0077ff;
}
.c-job--koshelek {
  color: #0251f8;
}
.c-job--rozario {
  color: #e71f75;
}
.c-job--freelance {
  color: gray;
}
.c-job--seventest {
  color: #ab250c;
}