.s-common {
    /* TODO: change to px */
    --text-xs: 0.6rem;
    --text-sm: 0.7rem;
    --text-base: 0.875rem;
    --text-lg: 1rem;
    --text-xl: 1.25rem;
    --text-xxl: 1.875rem;

    --max-main-width: 70rem;
    --max-header-width: 70rem;
    --max-footer-width: 70rem;
    --max-postcard-width: 45rem;
    --max-project-width: 500px;
    --max-content-width: 70rem;

    --content-margin-top: 16px;

    --padding-main: 8px;

    --sans-serif: var(--font-overpass), Overpass, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    --monospace: var(--font-jetbrainsmono), 'JetBrains Mono', 'Roboto Mono', monospace;
    --serif: Georgia, 'Times New Roman', Times, serif;

    --color-gray-100: hsl(0, 0%, 90%);
    --color-gray-100-60: hsla(0, 0%, 90%, 0.6);
    --color-gray-200: hsl(0, 0%, 85%);
    --color-gray-300: hsl(0, 0%, 80%);
    --color-gray-400: hsl(0, 0%, 70%);
    --color-gray-500: hsl(0, 0%, 65%);
    --color-gray-600: hsl(0, 0%, 60%);
    --color-gray-700: hsl(0, 0%, 55%);
    --color-gray-800: hsl(0, 0%, 40%);
    --color-gray-900: hsl(0, 0%, 30%);
    --color-gray-900-90: hsla(0, 0%, 30%, 0.9);

    --color-warning: hsl(37, 79%, 60%);

    --gradient-header: linear-gradient(90deg, hsl(137, 93%, 53%) 0%, rgba(26,223,139,1) 32%, rgba(50,171,185,1) 95%);
    --gradient-header-v2: linear-gradient(90deg, rgba(49, 219, 219, 0.97) 0%, rgba(208, 33, 128, 0.62) 47.74%, rgba(242, 194, 22, 0.64) 100%);
}

@media (min-width: 765px) {
    .s-common {
        --text-xs: 0.7rem;
        --text-sm: 0.875rem;
        --text-base: 1rem;
        --text-lg: 1.25rem;
        --text-xl: 1.5rem;
        --text-xxl: 2rem;    
    }
}

.s-light-theme {
    --color-main:           hsl(0, 0%, 97%);
    --color-main-50:        hsl(79, 1%, 98%, 0.5);
    --color-scnd:           hsl(0, 0%, 82%);
    --color-accent:         hsl(135, 98%, 71%);
    --color-accent-85:      hsl(136, 64%, 47%, 0.85);
    --color-extra:          hsl(209,100%,31%);
    --color-extra-85:       hsl(209,100%,31%, 0.85);
    --color-super-extra:    hsl(267,80%,31%, 1);
    --color-border:         hsl(0, 0%, 62%);
    --color-text:           hsl(0,0%,0%);
    --color-text-50:        hsl(0, 0%, 0%, 0.5);
    --color-text-inv:       hsl(100, 100%, 97%);
    --color-error:          hsl(346,84%,61%);
    --color-terminal-black: hsl(0, 0%, 18%);
    --color-terminal-green: hsl(137, 93%, 53%);

    --color-shadow-link: var(--color-extra);
    --color-back-link-text: var(--color-text);
    --color-back-link-background: var(--color-text);
    --color-back-link-hover: var(--color-text-inv);
}

.s-light-theme-v2 {
    --color-main:           white;
    --color-main-50:        hsl(0, 0%, 100%, 0.5);
    --color-secondary:      hsl(36deg, 100%, 89%);
    --color-text:           black;
    --color-text-inv:       hsl(100, 100%, 99%);
    --color-accent:         hsl(61, 100%, 76%);
    --color-accent-85:      hsl(61, 100%, 76%, 0.5);
    --color-extra:          hsl(241, 100%, 59%);
    --color-error:          hsl(346, 84%, 61%);
    --color-border:         hsl(0, 0%, 62%);
    --color-super-extra:    hsl(267, 80%, 31%, 1);
    --color-tertiary:       hsla(147deg, 100%, 79%);
    --color-tertiary-42:    hsla(147deg, 100%, 79%, 42%);
    --color-image-back:     hsla(0, 0%, 55%, 1);

    --color-shadow-link: var(--color-extra);
    --color-back-link-text: var(--color-text);
    --color-back-link-background: var(--color-text);
    --color-back-link-hover: var(--color-text-inv);
}