.MachineSpecName {
    font-weight: 500;
    font-size: var(--text-lg);
}

.MachineSpecTitle {
    font-weight: 500;
    font-size: var(--text-base);
}

.MachineSpecInfo {
    margin-top: 10px;
}

.MachineSpecList {
    margin-top: 5px;
}

.MachineSpecKey {
    width: 7ch;
    display: inline-block;
}